.books {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.books__title {
    text-align: center;
    font-family: fantasy;
    font-size: 30px;
    padding: 0%;
    margin-top: 23px;
    margin-bottom: 23px
}

.books__content {
    background-color: rgb(90, 121, 7);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    border-radius: 23px;
    height: 100vh;
}

.books__paragraph {
    background-color: rgb(90, 121, 7);
    margin: 0px 23px;
    font-size: 20px;
    color: black;
}

.books__showcase img {
    width: 60vw;
    height: 60vh;
    border-radius: 23px;
}

@media only screen and (max-width:750px) {
    .books__showcase img {
    height: 20vh;
    }
    .books__content {
        height: 70vh;
        width: 90vw;
    }
}

.btn {
    font-size: 15px;
    background-color: rgb(0, 0, 0);
    color: rgb(248, 252, 248);
    border-radius: 13px;
    padding: 10px;
    width: 25vh;
    border: 0px;
}

.btn:hover {
    background-color: rgb(30, 89, 0);
}

.syllabus__title {
    text-align: center;
    font-family: fantasy;
    font-size: 30px;
    padding: 0%;
    margin-top: 23px;
    margin-bottom: 23px
}

.syllabus {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.syllabus__content {
    background-color: rgb(90, 121, 7);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    border-radius: 23px;
    height: 70vh;
}

.syllabus__content img {
    width: 20vw;
    height: 20vw;
}
@media only screen and (max-width:750px){
    .syllabus__content {
        height: 40vh;
    }
    .syllabus__content img {
        width: 30vw;
        height: 30vw;
    }
}